:root {
    font-family: "Amarante", serif;
    font-size: 10px;
    letter-spacing: 5px;
}  

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    margin: 0px;
}

header {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: max-content;
    background-color: rgb(214, 214, 214);
    /* border-bottom: 1rem solid rgb(198, 198, 198); */
}

main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

#left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    height: 60vmin;
    width: 60vmin;
    background-color: white;
    border: 1px solid rgb(158, 156, 156);
    box-shadow: 0px 0px 29px rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: rainbow-shadow 3s ease-in infinite alternate;
}

.pixel {
    box-sizing: border-box;
    border: 1px solid black;
}

.subheading {
    font-size: 2rem;
}

.color-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}

.modes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.tools-normal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgb(214, 214, 214);
}

button {
    font-family: inherit;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: .5rem 0rem;
    border-radius: 1rem;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 1px 1px 2px rgb(47, 47, 47);
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100%;
    box-shadow: 0 0 5px black;    
    /* animation: rainbow-shadow 3s ease-in infinite alternate; */
}

input[type="color"] {
    padding: 0px!important;
}
  
input[type="color"]::-webkit-color-swatch {
    border: none!important;
    border-radius: 100%;
}
  
input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

button:hover:not(.selectedColor) {
    box-shadow: 0 0 0;
}

.text {
    font-size: 2rem;
}

.selectedColor {
    background-color: slategrey;
    color: white;
}

.selectedDisplay {
    display: none;
}

.subsettings {
    margin: 5rem 0;
    letter-spacing: normal;
}

.subsettings > * {
    text-align: center;
    margin-bottom: 3rem;
    line-height: .1rem;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

}

label[for="range"],
label[for="showGridLinesOrNot"] {
    font-size: 2rem;
    line-height: normal;
}

.animated-heading {
    background-image: linear-gradient(to bottom right, rgb(184, 184, 184), rgb(77, 77, 77), rgb(38, 38, 38));
    background-size: 400% 400%;
    background-clip: text;
    color: transparent;
    animation: text-tide 1s ease-in infinite alternate; 
    background-color: black;
    
}

/* .auto-color-button {
    animation: rainbow-shadow 3s ease-in infinite alternate;
}

.auto-color-button:hover {
    animation: none;
    cursor: pointer;
} */

@keyframes rainbow-shadow {
    0% {
        box-shadow: 0 0 1rem rgb(219, 219, 219);
    } 20% {
        box-shadow: 0 0 1.5rem rgb(183, 183, 183);
    } 40% {
        box-shadow: 0 0 2rem rgb(154, 154, 154);
    } 60% {
        box-shadow: 0 0 2.5rem rgb(121, 121, 121);
    } 80% {
        box-shadow: 0 0 3rem rgb(82, 82, 82);
    } 100% {
        box-shadow: 0 0 3.5rem rgb(52, 52, 52);
    }
}

@keyframes text-tide {
    0% {
        background-position: 0% 0%;
    } 100% {
        background-position: 100% 100%;
    }    
}


@media only screen and (max-width: 600px) {

    body {
        height: auto;
    }
    body, main {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    header {
        font-size: 1.3rem;
    }

    main {
        gap: 8rem;
        margin: 5rem;
    }

    .canvas {
        width: 80vmin;
        height: 80vmin;
    }

}